---
---
@import "{{ site.theme }}";
$myWidth: 680px;

body {
 background-color: #59b33b;
 font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 color:#210804;
 font-weight:400;
}



container {
  width: $myWidth;
}

a {
  color: #5e2511;
}

logo {
    max-width: 25px;
 }

page-header {
  color: #4f1806;
  text-align: center;
  background-color: #a048f0;
}


h2 {
  color:#3b140d;
}

h3, h4, h5, h6 {
  color:#69311e;
}
